.tabs-filter li {
  padding: 10px 20px;
  cursor: pointer; 
  border-bottom: 2px solid transparent;
  transition: background-color 0.2s ease-in-out;
}

.ajax-tabs-nav li.active,
.ajax-tabs-nav li:hover {
  background-color: #ddd;
  border-bottom-color: #ccc;
}

.ajax-tabs-content {
  flex: 1;
}
